


body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    width: 100%;
}
.container1{
    margin: auto;
    width: 540px;
    height: 369px;

}

.container-form {
    width: 786px;
}

.banner img {
    width: 1143px;
    height: 311px;
}

.login-box {
    width: 625px;
    height: 369px; 
}


h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}


.form-group {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
}


label {
    font-weight: bold;
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: 'Inter', sans-serif; 
}



input {
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #D9D9D9;
    width: 540px;
    font-size: 16px;
    height: 50px; 
    margin-bottom: 5px;
}


.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}


.btn {
    padding: 15px;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 48%;
    font-weight: bold;
}

.btn.ingresar {
    background-color: #0033a0;
    width: 253px;
    height:53;
}


.btn.cancelar {
    background-color: #d9534f;
    width: 253px;
    height:53;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.footer{
    margin-top: 70px;
    font-size: 18px;
    white-space: nowrap;
    text-align: center;
}


